$primary-color: hsl(200,18,46);
$secondary-color: hsl(200,18,26);
$tertiary-color: hsl(200,18,66);
$black-color: hsl(0,0,25);
$white-color: hsl(0,0,98);
$highlight-color: hsl(4,90,58);
$highlight-secondary-color: hsl(4,90,38);