// Base font size (used in function that determines media queries);
$em-base: 18px;

// FUNCTIONS
@import 'functions';

// VARIABLES
// Colors
@import 'colors';

// Weights
@import 'weights';

// Media Queries
@import 'media-queries';

// MIXINS
@import "mixins";

// KEYFRAME ANIMATIONS
@import "keyframes";


// ORDER OF RULES:
  // Positioning
  // Display & Box Model
  // Text
  // Other


html {
  overflow: hidden;
}
@media #{$small-up} {
  html{
    font-size: $em-base - 2px;
  }
}
@media #{$medium-up} {
  html{
    font-size: $em-base;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $white-color;

  color: $black-color;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, a {
  font-family: 'Lato', sans-serif;
  color: $black-color;
}


.content-container {
  overflow: hidden;
}
@media #{$small-up} {
  .content-container {
    height: 80vh;
    padding-top: 2em;
  }
}
@media #{$medium-up} {
  .content-container {
    height: 90vh;
    padding-top: 3em;
  }
}

.logo {
  font-size: 3em;
}

@media #{$small-up} {
  .headline {
    font-size: 1em;
  }
}
@media #{$medium-up} {
  .headline {
    font-size: 2.5em;
  }
}

.name {
  margin-top: 1em;
  margin-bottom: 0;

  font-weight: $ultra-weight;
}
@media #{$small-up} {
  .name {
    font-size: 1.8em;
  }
}
@media #{$medium-up} {
  .headline {
    font-size: 2.5em;
  }
}

.text-rotate {
  position: relative;

  color: $highlight-color;
}
.text-rotate__item {
  @include animation(text-rotate 16s ease infinite);
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  font-weight: $thin-weight;
  font-size: 1.5em;
}
.text-rotate__item:nth-child(1) {
}
.text-rotate__item:nth-child(2) {
  @include animation-delay(4s);
  @include transform(rotateX(-90deg));
}
.text-rotate__item:nth-child(3) {
  @include animation-delay(8s);
  @include transform(rotateX(-90deg));
}
.text-rotate__item:nth-child(4) {
  @include animation-delay(12s);
  @include transform(rotateX(-90deg));
}

@media #{$small-up} {
  .samples {
    margin-top: 12vh;
  }
}
@media #{$medium-up} {
  .samples {
    margin-top: 15vh;
  }
}
@media #{$large-up} {
  .samples {
    margin-top: 25vh;
  }
}
.thumbnail-container {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin: 0 auto;
}
.thumbnail-container.is-active {
  top: -100vh;
  left: -100vw;

  width: 200vw;
  height: 200vh;
}
.thumbnail {
  position: relative;
  margin-bottom: 1em;

  text-align: center;
  font-weight: $bold-weight;
  color: $primary-color;

  cursor: pointer;
  transition: all .2s ease;
}
@media #{$small-up} {
  .thumbnail {
    font-size: 1.5em;
  }
}
@media #{$medium-up} {
  .thumbnail {
    font-size: 1.8em;
  }
}
@media #{$large-up} {
  .thumbnail {
    font-size: 2em;
  }
}
// Only color changes on mobile
@media #{$small-up} {
  .thumbnail:hover {
    color: $highlight-color;
  }
}
@media #{$medium-up} {
  .thumbnail:hover {
    font-size: 2.5em;
    color: $highlight-color;
  }
}
.thumbnail__transition {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 3em;

  @include transition('all .2s linear, background-color 0s');
}
.thumbnail__transition.is-active {
  top: -100vh;
  left: -100vw;

  width: 200vw;
  height: 200vh;
  background-color: $secondary-color;
}
// Thumbnail hover affects don't occur on mobile
@media #{$medium-up} {
  .thumbnail-1:hover {
    font-family: 'Merriweather';

    @include animation('float 3s ease infinite, rock 5s ease infinite');
  }
  .thumbnail-1:hover .thumbnail__alt-header {
    font-family: 'Merriweather Sans';
    font-weight: 800;
  }
  .thumbnail-3:hover {
    font-family: 'Courier';
    font-weight: normal;
  }
  .thumbnail-3:hover::after {
    content: '|';
    font-weight: $bold-weight;

    @include animation(blink 1.2s ease infinite);
  }
}
.thumbnail:active {
  @include transform( scale(1.05,1.05) );
}
.thumbnail.is-hidden {
  opacity: 0;

  @include transition(none);
}
.thumbnail.wobble {
  @include animation(wobble .2s ease-in);
  @include animation-delay(.2s);
}
.sample__hover {
  top: 0;
  position: absolute;
  z-index: 2;

  width: 120%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-size: cover;

  @include transition(all .2s ease-in);
  @include animation(background-scroll 25s infinite linear);
}
.thumbnail-container:hover + .sample__hover {
  opacity: .5;
  visibility: visible;

  @include transition(all .5s ease-in);
}
.sample__item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;

  display: none;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
}
.sample__item.is-active {
  display: block;
}
.sample__item--mobile {
  overflow: scroll;
  padding-bottom: 20vh;
}
.sample__item--mobile .sample__images {
  height: 30vh;
  overflow: hidden;
}
.sample__item--mobile .sample__content {
  height: auto;
}
@media #{$small-up} {
  .sample__item {
    visibility: hidden;
  }
  .sample__item--mobile {
    visibility: visible;
  }
}
@media #{$medium-up} {
  .sample__item {
    visibility: visible;
  }
  .sample__item--mobile {
    visibility: hidden;
  }
}
.sample__images {
  top: 0;
  left: 0;

  padding: 0;
  overflow: scroll;
}
.sample__image,
.sample__content {
  z-index: 1;

  display: none;
  opacity: 0;
}
@media #{$small-up} {
  .sample__images,
  .sample__image:only-child,
  .sample__image:only-child:hover,
  .sample__content {
    height: 40vh;
  }
}
@media #{$medium-up} {
  .sample__images,
  .sample__image:only-child,
  .sample__image:only-child:hover,
  .sample__content {
    height: 90vh;
    background-size: cover;
  }
}
.sample__image {
  position: relative;
  top: 0;
  left: 0;

  display: none;
  opacity: 0;
  height: 30vh;
  background-size: 120% auto;
  background-position: center center;
  background-color: $primary-color;
  background-blend-mode: luminosity;

  @include transition(all .2s);
}
@media #{$small-up} {
  .sample__image {
    height: 30vh;
    background-size: auto 120%;
    background-repeat: no-repeat;
  }
  .sample__image:only-child {
    height: 45vh;
  }
}
@media #{$medium-up} {
  .sample__image {
    height: 30vh;
    background-repeat: repeat;
  }
  .sample__image:only-child {
    height: 90vh;
  }
}
@media #{$xlarge-up} {
  .sample__image {
    background-size: 120% auto;
  }
}
.sample__image:hover {
  height: 33vh;
  background-color: transparent;
}
.sample__image + .sample__image:hover {
  margin-top: -1.5vh;
}
.sample__image.is-active {
  display: block;

  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.3s);
  @include animation-fill-mode(forwards);
}
.sample__image + .sample__image {
  border-top: 3px solid $secondary-color;
}
.image-1 {
  background-image: url('../../img/portfolio_story.jpg');
  background-position: top left;
}
@media #{$small-up} {
  .image-1 {
    background-size: 120% auto;
    background-position: center left;
  }
}
@media #{$medium-up} {
  .image-1 {
    background-size: cover;
    background-position: top left;
  }
}
.image-2 {
  background-image: url('../../img/ikea.png');
}
.image-3 {
  background-image: url('../../img/omhd.png');
  background-position: bottom center;
}
.image-4 {
  background-image: url('../../img/beneficial.png');
  background-position: center right;
}
.sample__content {
  top: 0;
  right: 0;

  display: none;
  opacity: 0;
  padding: 3em;
  overflow: scroll;
}
@media #{$small-up} {
  .sample__item--mobile .sample__images {
    height: 30vh;
    overflow: hidden;
  }
  .sample__image:hover {
    height: 40vh;
  }
}
@media #{$medium-up} {
  .sample__image {
    height: 30vh;
    background-repeat: repeat;
  }
}
.sample__content.is-active {
  display: block;

  @include animation(fade-in .3s ease-in);
  @include animation-delay(.5s);
  @include animation-fill-mode(forwards);
}
.sample__content a {
  border-bottom: 1px solid $white-color;

  color: $white-color;
}
.sample__content a:hover {
  color: $tertiary-color;
}
.sample__header,
.sample__subheader,
.sample__text {
  color: $white-color;
}
.sample__header {
  text-transform: uppercase;
  font-size: 1.5em;
}
.sample__subheader {
  font-size: 1.5em;
  font-weight: $bold-weight;
}
.sample__section-head {
  margin-top: 2.5em;

  color: $white-color;
  font-weight: $thin-weight;
  font-size: 1.2em;
  text-align: center;
}
.samples__close {
  position: absolute;
  z-index: 5;

  display: none;
  opacity: 0;

  color: $white-color;
  font-size: 2em;
  line-height: 1;

  cursor: pointer;
}
@media #{$small-up} {
  .samples__close {
    top: .5em;
    right: 1em;
  }
}
@media #{$medium-up} {
  .samples__close {
    top: 1em;
    right: 2em;
  }
}
.samples__close:hover {
  color: $highlight-color;
}
.samples__close.is-active {
  display: block;

  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.7s);
  @include animation-fill-mode(forwards);
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100vw;
  height: 90vh;
  background-color: $secondary-color;
}
.page.is-active {
  display: block;
}
.page__content {
  display: none;
  height: 100vh;
  opacity: 0;
  padding-top: 3em;
  overflow: scroll;
}
.page__header {
  color: $white-color;
  text-align: center;
}
.page__text {
  margin-top: 1.5em;

  color: $white-color;
  font-size: 1.2em;
}
.page__content.is-active {
  display: block;

  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.1s);
  @include animation-fill-mode(forwards);
}
.page__close {
  position: absolute;
  z-index: 5;

  display: none;
  opacity: 0;

  color: $white-color;
  font-size: 2em;
  line-height: 1;

  cursor: pointer;
  @include transition(color .2s ease);
}
@media #{$small-up} {
  .page__close {
    top: .5em;
    right: 1em;
  }
}
@media #{$medium-up} {
  .page__close {
    top: 1em;
    right: 2em;
  }
}
.page__close:hover {
  color: $highlight-color;
}
.page__close.is-active {
  display: block;

  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.3s);
  @include animation-fill-mode(forwards);
}


.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
}


.menu {
  position: absolute;
  z-index: 4;
  bottom: 0;

  display: block;
  width: 100vw;
  background-color: $primary-color;
}
@media #{$small-up} {
  .menu {
    height: 20vh;
  }
}
@media #{$medium-up} {
  .menu {
    height: 10vh;
  }
}
.menu .row {
  max-width: 100vw;
}
.menu__item a {
  position: relative;
  z-index: 1;

  display: block;
  height: 100%;
  background-color: $primary-color;

  color: $white-color;
  line-height: 10vh;

  transition: all .2s cubic-bezier(.4,0,.2,1);
}
@media #{$small-up} {
  .menu__item a {
    font-size: 1.3em;
  }
}
@media #{$medium-up} {
  .menu__item a {
    font-size: 1em;
  }
}
.menu__item a:hover,
.menu__item a:focus {
  background-color: $highlight-color;
}
.menu__item a:active {
  z-index: 2;

  background-color: $highlight-color;

  @include transform( scaleX(1.1) );
}
.menu__item.is-active a {
  background-color: $highlight-color;

  color: $white-color;
}
.menu__item.snap a {
  @include animation(snap .2s ease-in);
  @include animation-delay(.2s);
}
.menu__transition {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;

  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: $secondary-color;
  margin: 0 auto;
  padding: 3em;
  opacity: 0;

  @include transition('all .2s linear, opacity 0s');
}
.menu__transition.is-active {
  bottom: -150vh;
  left: -150vw;

  width: 300vw;
  height: 300vh;
  opacity: 1;
}