// FUNCTIONS
$em-base: 18px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } /* Turn 0em into 0 */
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}


// VARIABLES
// Colors
$primary-color: hsl(200,18,46);
$secondary-color: hsl(200,18,26);
$tertiary-color: hsl(200,18,66);
$black-color: hsl(0,0,25);
$white-color: hsl(0,0,98);
$highlight-color: hsl(4,90,58);
$highlight-secondary-color: hsl(4,90,38);

// Weights
$thin-weight: 100;
$normal-weight: 400;
$bold-weight: 700;
$ultra-weight: 900;

// Media Queries
$small-breakpoint:  em-calc(640) ;
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1));
$large-range:   ($medium-breakpoint + em-calc(1));
$xlarge-range:  ($large-breakpoint  + em-calc(1));

// Media Queries
$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;

$medium-up: "#{$screen} and (min-width: #{$medium-range})";

$large-up: "#{$screen} and (min-width: #{$large-range})";

$xlarge-up: "#{$screen} and (min-width: #{$xlarge-range})";


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin animation-delay($str) {
  -webkit-animation-delay: #{$str};
  -moz-animation-delay: #{$str};
  -ms-animation-delay: #{$str};
  -o-animation-delay: #{$str};
  animation-delay: #{$str};
}
@mixin animation-fill-mode($str) {
  -webkit-animation-fill-mode: #{$str};
  -moz-animation-fill-mode: #{$str};
  -ms-animation-fill-mode: #{$str};
  -o-animation-fill-mode: #{$str};
  animation-fill-mode: #{$str};
}
@mixin filter($str) {
  -webkit-filter: #{$str};
  -moz-filter: #{$str};
  -ms-filter: #{$str};
  -o-filter: #{$str};
  filter: #{$str};
}
@mixin transform-origin($str) {
  -webkit-transform-origin: #{$str};
  -moz-transform-origin: #{$str};
  -ms-transform-origin: #{$str};
  -o-transform-origin: #{$str};
  transform-origin: #{$str};
}
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};
}


@media only screen {
  html{
    font-size: $em-base - 2px;
  }
}
@media only screen and (min-width: 40.0625em) {
  html{
    font-size: $em-base;
  }
}
@media only screen and (min-width: 64.0625em) {
  html {
    font-size: $em-base;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: $black-color;
  background-color: $white-color;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, a {
  font-family: 'Lato', sans-serif;
  color: $black-color;
}


.content-container {
  overflow: hidden;
}
@media #{$small-up} {
  .content-container {
    height: 80vh;
    padding-top: 2em;
  }
}
@media #{$medium-up} {
  .content-container {
    height: 90vh;
    padding-top: 3em;
  }
}

.logo {
  font-size: 3em;
}

.name {
  font-weight: $ultra-weight;
  margin-top: 1em;
  margin-bottom: 0;
}

.text-rotate {
  position: relative;
  color: $highlight-color;
}
.text-rotate__item {
  @include animation(text-rotate 16s ease infinite);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-weight: $thin-weight;
  font-size: 1.5em;
}
.text-rotate__item:nth-child(1) {
}
.text-rotate__item:nth-child(2) {
  @include animation-delay(4s);
  @include transform(rotateX(-90deg));
}
.text-rotate__item:nth-child(3) {
  @include animation-delay(8s);
  @include transform(rotateX(-90deg));
}
.text-rotate__item:nth-child(4) {
  @include animation-delay(12s);
  @include transform(rotateX(-90deg));
}

.samples {
  margin-top: 15vh;
}
.thumbnail-container {
  display: block;
  width: 25vw;
  height: 25vw;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  left: 0;
  top: 0;
  position: relative;
}
.thumbnail-container.is-active {
  width: 200vw;
  height: 200vh;
  left: -100vw;
  top: -100vh;
  background-color: $secondary-color;
}
.thumbnail__transition {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: transparent;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 3em;
  z-index: 0;
  @include transition('all .2s linear, background-color 0s');
}
.thumbnail__transition.is-active {
  width: 200vw;
  height: 200vh;
  left: -100vw;
  top: -100vh;
  background-color: $secondary-color;
}
.thumbnail-1 {
  background-image: url('../../img/portfolio_earth.svg');
}
.thumbnail {
  display: block;
  opacity: 1;
  width: 25vw;
  height: 25vw;
  max-width: 400px;
  max-height: 400px;
  background-position: center center;
  margin: 0 auto;
  left: 0;
  top: 0;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-blend-mode: multiply;
  @include transition(all .2s ease-in);
}
.thumbnail:active {
  @include transform( scale(1.05,1.05) );
}
.thumbnail:hover {
  background-color: $tertiary-color;
}
.thumbnail.is-hidden {
  opacity: 0;
  @include transition(none);
}
.thumbnail.wobble {
  @include animation(wobble .2s ease-in);
  @include animation-delay(.2s);
}
.thumbnail__hover {
  text-align: center;
  opacity: 0;
  color: $highlight-color;
  font-weight: $bold-weight;
  font-size: 2em;
  @include transition(opacity .2s ease-in);
}
.thumbnail:hover + .thumbnail__hover {
  opacity: 1;
}
.sample__hover {
  position: absolute;
  top: 0;
  width: 120%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  background-size: cover;
  @include transition(all .2s ease-in);
  @include animation(background-scroll 25s infinite linear);
}
.thumbnail-container:hover + .sample__hover {
  opacity: .5;
  visibility: visible;
  @include transition(all .5s ease-in);
}
.sample__item {
  display: none;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
  left: 0;
  top: 0;
  z-index: 4;
  position: absolute;
}
.sample__item.is-active {
  display: block;
}
.sample__item--mobile {
  overflow: scroll;
  padding-bottom: 20vh;
}
.sample__item--mobile .sample__images {
  height: 30vh;
  overflow: hidden;
}
.sample__item--mobile .sample__content {
  height: auto;
}
@media #{$small-up} {
  .sample__item {
    visibility: hidden;
  }
  .sample__item--mobile {
    visibility: visible;
  }
}
@media #{$medium-up} {
  .sample__item {
    visibility: visible;
  }
  .sample__item--mobile {
    visibility: hidden;
  }
}
.sample__images {
  left: 0;
  top: 0;
  padding: 0;
  overflow: scroll;
}
.sample__image,
.sample__content {
  display: none;
  opacity: 0;
  z-index: 1;
}
@media #{$small-up} {
  .sample__images,
  .sample__image:only-child,
  .sample__image:only-child:hover,
  .sample__content {
    height: 40vh;
  }
}
@media #{$medium-up} {
  .sample__images,
  .sample__image:only-child,
  .sample__image:only-child:hover,
  .sample__content {
    height: 90vh;
  }
}
.sample__image {
  display: none;
  position: relative;
  opacity: 0;
  top: 0;
  left: 0;
  height: 30vh;
  background-size: 120% auto;
  background-position: center center;
  background-color: $primary-color;
  background-blend-mode: luminosity;
  @include transition(all .2s);
}
@media #{$small-up} {
  .sample__image {
    background-size: auto 120%;
    background-repeat: no-repeat;
    height: 30vh;
  }
  .sample__image:only-child {
    height: 45vh;
  }
}
@media #{$medium-up} {
  .sample__image {
    background-repeat: repeat;
    height: 30vh;
  }
  .sample__image:only-child {
    height: 90vh;
  }
}
@media #{$xlarge-up} {
  .sample__image {
    background-size: 120% auto;
  }
}
.sample__image:hover {
  background-color: transparent;
  height: 33vh;
}
.sample__image + .sample__image:hover {
  margin-top: -1.5vh;
}
.sample__image.is-active {
  display: block;
  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.3s);
  @include animation-fill-mode(forwards);
}
.sample__image + .sample__image {
  border-top: 3px solid $secondary-color;
}
.image-1 {
  background-image: url('../../img/portfolio_story.jpg');
  background-position: top left;
}
.image-2 {
  background-image: url('../../img/ikea.png');
}
.image-3 {
  background-image: url('../../img/omhd.png');
  background-position: bottom center;
}
.image-4 {
  background-image: url('../../img/beneficial.png');
  background-position: center right;
}
.sample__content {
  right: 0;
  top: 0;
  display: none;
  opacity: 0;
  padding: 3em;
  overflow: scroll;
}
@media #{$small-up} {
  .sample__item--mobile .sample__images {
    height: 30vh;
    overflow: hidden;
  }
  .sample__image:hover {
    height: 40vh;
  }
}
@media #{$medium-up} {
  .sample__image {
    background-repeat: repeat;
    height: 30vh;
  }
}
.sample__content.is-active {
  display: block;
  @include animation(fade-in .3s ease-in);
  @include animation-delay(.5s);
  @include animation-fill-mode(forwards);
}
.sample__header,
.sample__subheader,
.sample__text {
  color: $white-color;
}
.sample__header {
  text-transform: uppercase;
  font-size: 1.5em;
}
.sample__subheader {
  font-size: 1.5em;
  font-weight: $bold-weight;
}
.sample__section-head {
  color: $white-color;
  font-weight: $thin-weight;
  font-size: 1.2em;
  text-align: center;
}
.samples__close {
  display: none;
  opacity: 0;
  position: absolute;
  right: 2em;
  top: 1em;
  color: $white-color;
  z-index: 5;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
}
.samples__close:hover {
  color: $highlight-color;
}
.samples__close.is-active {
  display: block;
  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.7s);
  @include animation-fill-mode(forwards);
}

.page {
  background-color: $secondary-color;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 90vh;
  z-index: 2;
}
.page.is-active {
  display: block;
}
.page__content {
  display: none;
  opacity: 0;
  padding-top: 3em;
}
.page__header {
  color: $white-color;
  text-align: center;
}
.page__text {
  color: $white-color;
  font-size: 1.2em;
  margin-top: 1.5em;
}
.page__content.is-active {
  display: block;
  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.1s);
  @include animation-fill-mode(forwards);
}
.page__close {
  display: none;
  opacity: 0;
  position: absolute;
  right: 2em;
  top: 1em;
  color: $white-color;
  z-index: 5;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
  transition: color .2s ease;
}
.page__close:hover {
  color: $highlight-color;
}
.page__close.is-active {
  display: block;
  @include animation(fade-in .3s ease-in forwards);
  @include animation-delay(.3s);
  @include animation-fill-mode(forwards);
}


.modal__background {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $secondary-color;
  z-index: 1;
}


.menu {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: block;
  z-index: 4;
  background-color: $primary-color;
}
@media #{$small-up} {
  .menu {
    height: 20vh;
  }
}
@media #{$medium-up} {
  .menu {
    height: 10vh;
  }
}
.menu .row {
  max-width: 100vw;
}
.menu__item a {
  color: $white-color;
  background-color: $primary-color;
  height: 100%;
  display: block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  position: relative;
  line-height: 10vh;
  z-index: 1;
}
@media #{$small-up} {
  .menu__item a {
    font-size: 1.3em;
  }
}
@media #{$medium-up} {
  .menu__item a {
    font-size: 1em;
  }
}
.menu__item a:hover,
.menu__item a:focus {
  background-color: $highlight-color;
}
.menu__item a:active {
  background-color: $highlight-color;
  z-index: 2;
  @include transform( scaleX(1.1) );
}
.menu__item.is-active a {
  background-color: $highlight-color;
  color: $white-color;
}
.menu__item.snap a {
  @include animation(snap .2s ease-in);
  @include animation-delay(.2s);
}
.menu__transition {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: $secondary-color;
  margin: 0 auto;
  left: 50%;
  bottom: 0;
  position: absolute;
  padding: 3em;
  z-index: 0;
  opacity: 0;
  @include transition('all .2s linear, opacity 0s');
}
.menu__transition.is-active {
  opacity: 1;
  width: 300vw;
  height: 300vh;
  left: -150vw;
  bottom: -150vh;
}

@include keyframes(text-rotate) {
  0% {
    @include transform(rotateX(-90deg));
  }
  5% {
    @include transform(rotateX(0deg));
  }
  24% {
    @include transform(rotateX(0deg));
  }
  25% {
    @include transform(rotateX(90deg));
  }
  100% {
    @include transform(rotateX(90deg));
  }
}
@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(background-scroll) {
  0% {
    left: -10%;
    @include filter(grayscale(1));
  }
  25% {
    @include filter(grayscale(0));
  }
  50% {
    left: 0;
    @include filter(grayscale(1));
  }
  75% {
    @include filter(grayscale(0));
  }
  100% {
    left: -10%;
    @include filter(grayscale(1));
  }
}
@include keyframes(click) {
  0% {
    @include transform( scale(1,1) );
  }
  33% {
    @include transform( scale(1.05,1.05) );
  }
  66% {
    @include transform( scale(.9,.9) );
  }
  100%{
    @include transform( scale(1,1) );
  }
}
@include keyframes(wobble) {
  0% {
    @include transform( scale(1,1) );
  }
  33% {
    @include transform( scale(.9,.9) );
  }
  66% {
    @include transform( scale(1.05,1.05) );
  }
  100%{
    @include transform( scale(1,1) );
  }
}
@include keyframes(snap) {
  0% {
    @include transform( scaleX(1) );
  }
  33% {
    @include transform( scaleX(.9) );
  }
  66% {
    @include transform( scaleX(1.01) );
  }
  100% {
    @include transform( scaleX(1) );
  }
}